body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1{
    text-align:center;
    color:#003366;
}

h2{
    text-align:center;
}

#quedan{
    font-size:90px;
    text-align:center;
    color:#003366;
    margin:20px;
}

input{
    width:100%;
    padding:12px;
    font-size:20px;
    margin-bottom:10px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:18px;
    font-size:22px;
    border:none;
    border-radius:10px;
    margin-top:10px;
    cursor:pointer;
}
